@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.mobile-container {
    background-color: white;
    width: 400px;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
}

img {
    max-width: 100%;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header input {
    padding:0.5rem 1rem;
    border: none;
    border-radius: 3xp;
    background-color: #eee;
    font-family: inherit;
}

header button {
    background-color: transparent;
    color: #aaa;
    font-size: 1.5rem;
    border: none;
}

.fav-container {
    background-color: #adece11a;
    text-align: center;
}

.fav-meals {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.fav-meals li {
    cursor: pointer;
    position: relative;
    margin: 5px;
    width: 80px;
}

.fav-meals li .clear{
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
    opacity: 0;
}

.fav-meals li:hover .clear{
    opacity: 1;
}

.fav-meals li img {
    border: 2px solid #eee; 
    border-radius: 50%;
    object-fit: cover;
    width: 75px;
    height: 75px;
    box-shadow: 0 0 10px 2px #3333331A;
}

.fav-meals li span {
    display: inline-block;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75px;
}

.fav-meals li:hover span{
    white-space: normal;
    overflow: auto;
}

.meal{
    margin: 1.5rem;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(192, 192, 192);
    cursor: pointer;
    font-size: 1.2rem;
}

.meal-body .fav-btn.active{
    color: rebeccapurple;
}

.popup-container{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: white;
    padding: 0 2rem;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    position: relative;
    max-height: 100vh;
    overflow: auto;
}

.meal-info h1{
    text-align: center;
}

.popup .close-popup{
    position: absolute;
    top: 1 rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

